@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center home-background">
    <h1 class="display-4 fw-bold text-white pt-50">Welcome To MyLibrary</h1>
    <a asp-controller="Books" asp-action="Index" class="home-btn">Browse Books</a>
    <a asp-controller="Categories" asp-action="Index" class="home-btn">Book Categories</a>
</div>
